.. QBiC documentation template file. 
   Strings delimited by '$' will be replaced on the fly by generate-javadocs.sh


============================
QBiC technical documentation
============================

.. toctree::
   :maxdepth: 1
   :caption: Contents:

$QBIC_DOCS_SUBMODULES$


Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
