.. QBiC documentation template file. 


============================
QBiC technical documentation
============================

.. toctree::
   :maxdepth: 1
   :caption: Contents:

   $QBIC_REPOSITORIES$


Indices and tables
==================

* :ref:`genindex`
* :ref:`modindex`
* :ref:`search`
